body{
    background-color: #faf8d2;
    display: grid;
    place-content: center;

}
/* ================== Etape 1 ==================== */
.content1{
    border: 2px solid #8B8847;
    background-color: #f2eeac;
    width: 80rem;
    height: 37rem;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:7rem;
    align-items: center;
     
}
.titre{
    font-size: 2rem;
    height: 0.5rem;
    margin: 0;
}
.container1{
    width: 70rem;
    height: 20rem;
   display: flex;
   gap:1rem;
   
}
#events{
    height: 100%;
    width: 24%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(254, 254, 239);
    box-shadow: 0 0 5px;
    transition: scale 0.5s linear;
    }
    #events2{
    height: 100%;
    width: 24%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(254, 254, 239);
    box-shadow: 0 0 5px;
    transition: scale 0.5s linear;
    }
    #events3{
    height: 100%;
    width: 24%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(254, 254, 239);
    box-shadow: 0 0 5px;
    transition: scale 0.5s linear;
    }
    #events4{
    height: 100%;
    width: 24%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(254, 254, 239);
    box-shadow: 0 0 5px;
    transition: scale 0.5s linear;
    }
    .poureventsimage1{
        height:50%;
        width: 90%;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        background-image: url("Les images/avance-agence-communication-metz-nancy-organisation-evenement-02.jpg");
        background-size: cover;
    }
    .poureventsimage2{
        height:50%;
        width: 90%;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        background-image: url("Les images/0a2f3f88c68a-football.jpg");
        background-size: cover;
    }
    .poureventsimage3{
        height:50%;
        width: 90%;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        background-image: url("Les images/holi.jpg");
        background-size: cover;
    }
    .poureventsimage4{
        height:50%;
        width: 90%;
        border-radius: 10%;
        display: flex;
        justify-content: center;
        background-image: url("Les images/istockphoto-2171086563-170667a.jpg");
        background-size: cover;
    }
    .text{
        width: 89%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .continue-btn{
        width: 20%;
        height: 5%;
        border-radius: 15px;
        border: 2px solid #8B8847;
    }
    #events:hover{
        border: 2px solid #fff200;
        scale: 1.03;
    }
    #events2:hover{
        border: 2px solid #fff200;
        scale: 1.03;
    }
    #events3:hover{
        border: 2px solid #fff200;
        scale: 1.03;
    }
    #events4:hover{
        border: 2px solid #fff200;
        scale: 1.03;
    }

/* ================== Etape 2 ==================== */
.content2{
    border: 2px solid #8B8847;
    background-color: #f2eeac;
    width: 80rem;
    height: 37rem;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:5rem;
    align-items: center;
     
}
.clickdivs{
height: 60%;
width: 60%;
display: flex;
align-items: center;
justify-content: space-between;
 } 
 .plus{
   box-shadow: 0 0 5px;
    height: 95%;
    width: 35%;
    border-radius: 15px;
    background-color: #EEE875;
    display: flex;
    flex-direction: column;
    align-items: center;
 }  
 .conteur{
     border:0.01px solid black ;
    height: 40%;
    width: 25%;
    border-radius: 15px;
    box-shadow: 0 0 5px;
 background-color: #fcf798;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 }
 .moin{
   
    height: 95%;
    width: 35%;
    border-radius: 15px;
    box-shadow: 0 0 5px;
 background-color: #faf7c6;
 display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }    
 .plusimage{
    height: 76%;
    justify-self: flex-start;
 }
 .moinimage{
    height: 60%;
    justify-self: flex-start;
 }
 .moin:active{
    background-color: #f9f4a0;
 }
  .plus:active{
    background-color: #f9f4a0;
 }
 #lesbillets{
   font-size: 30px;
   margin: 0;
 }
.tocolumn{
    display: flex;
    flex-direction: column;
}
.suivant-précedent{
    height: 10rem;width: 95%;
    display: flex;
    justify-content: space-between;
}
#back{
height: 100%;
width: 20rem;
border-radius: 15px;
font-size: 1.4rem;
}
#go{
    height: 100%;
width: 20rem;
border-radius: 15px;
font-size: 1.4rem;
}

/* ================== Etape 3 ==================== */
.content3{
 border: 2px solid #8B8847;
    background-color: #f2eeac;
    width: 80rem;
    height: 37rem;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap:5rem;
    align-items: center;
    
}
